<p-toast></p-toast>
<h1>Quanthink Wolfram Chat</h1>
<div style="padding: 1em">
  <div class="grid">
    <span class="p-float-label">
      <input type="text" id="username" pInputText [(ngModel)]="username" />
      <label for="username">Username</label>
    </span>
    <p-button icon="pi pi-sign-in" class="m-1" [disabled]="connected || !username" (onClick)="connect()"></p-button>
    <p-button icon="pi pi-sign-out" class="m-1" [disabled]="!connected" (onClick)="disconnect()"></p-button>
  </div>
  <div style="padding-top: 1em" *ngIf="connected">
    <div class="grid">
      <span class="p-float-label">
        <input type="text" id="text" pInputText [(ngModel)]="text" />
        <label for="text">Text</label>
      </span>
      <p-button icon="pi pi-send" class="m-1" [disabled]="!text" (onClick)="sendMessage()"></p-button>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><h3>Sent:</h3></th>
      </tr>
      </thead>
      <tbody *ngFor="let message of sent">
      <tr>
        <td>
          <b>{{message.time | date: 'dd.MM.yyyy hh:mm:ss'}}</b>
          <p>{{message.content}}</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><h3>Received:</h3></th>
      </tr>
      </thead>
      <tbody *ngFor="let message of received">
      <tr>
        <td>
          <b>{{message.time | date: 'dd.MM.yyyy hh:mm:ss'}}</b>
          <p>{{message.senderId}}: {{message.content}}</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
