<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs/</Property>
    </Properties>

    <Appenders>
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>

        <RollingFile name="DebugFile" fileName="${log-path}/debug.log"
                     filePattern="${log-path}/debug-%d{MM-dd-yyyy}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="InfoFile" fileName="${log-path}/info.log"
                     filePattern="${log-path}/info-%d{MM-dd-yyyy}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="WarnFile" fileName="${log-path}/warn.log"
                     filePattern="${log-path}/warn-%d{MM-dd-yyyy}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="WARN"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="ErrorFile" fileName="${log-path}/error.log"
                     filePattern="${log-path}/error-%d{MM-dd-yyyy}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="ERROR"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="ErrorFile"/>
        </Root>
    </Loggers>
</Configuration>