<div class="header">
  <div class="icon-container">
    <p-button label="Sign in" (onClick)="logOut()" class="sign-in-button"></p-button>
    <img src="assets/icons/change_language.png" alt="Logo" class="language-image">
    <img src="assets/icons/5.png" alt="Logo" class="logo-image">
  </div>
</div>

<div class="center-content">
  <app-input></app-input>
</div>

<div class="footer">
  <div class="libraries">
    <span class="purple-text">Choose your library &gt;</span>
    <span class="green-text">History &gt;</span>
    <span class="yellow-text">Settings &gt;</span>
    <span class="turquoise-text">Online Chat &gt;</span>
  </div>
</div>

<div class="bottom-text">
  <p class="gray-text">&copy;Resources & Tools About Contact Connect <img src="assets/icons/facebook.png" alt="Logo" class="bottom-image"> <img src="assets/icons/twitter.png" alt="Logo" class="bottom-image"> <img src="assets/icons/telegram.png" alt="Logo" class="bottom-image"> <img src="assets/icons/instagram.png" alt="Logo" class="bottom-image"></p>
  <p class="gray-text">&copy;2024 QuanThink Wolfram Terms Privacy</p>
</div>