<div class="input-container">
  <input type="text" placeholder="{{ getTranslation('Enter what you want to calculate or know about') }}" [(ngModel)]="inputValue" (focus)="onInputFocus()" (blur)="onInputBlur()">
  <button class="btn orange-bg" (click)="calculate()">{{ getTranslation('=') }}</button>
</div>

<div class="math-input-container" [hidden]="!isInputFocused">
  <button class="btn" (click)="addCharacter('(')">(</button>
  <button class="btn" (click)="addCharacter(')')">)</button>
  <button class="btn" (click)="addCharacter('^')">^</button>
  <button class="btn" (click)="addCharacter('*')">*</button>
  <button class="btn" (click)="addCharacter('/')">/</button>
  <button class="btn" (click)="addCharacter('+')">+</button>
  <button class="btn" (click)="addCharacter('-')">-</button>
  <button class="btn" (click)="addCharacter('π')">π</button>
  <button class="btn" (click)="addCharacter('e')">e</button>
  <button class="btn" (click)="addCharacter('sin(')">{{ getTranslation('sin') }}</button>
  <button class="btn" (click)="addCharacter('cos(')">{{ getTranslation('cos') }}</button>
  <button class="btn" (click)="addCharacter('tg(')">{{ getTranslation('tg') }}</button>
  <button class="btn" (click)="addCharacter('ctg(')">{{ getTranslation('ctg') }}</button>
  <button class="btn" (click)="addCharacter('sinh(')">{{ getTranslation('sinh') }}</button>
  <button class="btn" (click)="addCharacter('cosh(')">{{ getTranslation('cosh') }}</button>
  <button class="btn" (click)="addCharacter('tanh(')">{{ getTranslation('tanh') }}</button>
  <button class="btn" (click)="addCharacter('coth(')">{{ getTranslation('coth') }}</button>
  <button class="btn" (click)="addCharacter('√(')">{{ getTranslation('√') }}</button>
  <button class="btn" (click)="addCharacter('x')">x</button>
  <button class="btn" (click)="deleteLastCharacter()">{{ getTranslation('Backspace') }}</button>
  <button class="btn" (click)="clearInput()">{{ getTranslation('Clear') }}</button>
</div>

<div class="result-container" *ngIf="calculationResult !== ''">
  <p>{{ getTranslation('Result') }}:</p>
  <p>{{ calculationResult }}</p>
</div>
